{% extends "fotonovs/base.html" %}

{% block page_header %}
  <div class="jumbotron">
    <h1 class="display-3">Это сайт Фотостудии ....</h1>
  <div>
<!--    <img src="/media/images/zvetok.png" width="510" height="620"/>-->
     <a href="photo1.html"><img src="/media/images/zvetok.png" alt="цветы и кошки" width="510" height="620"></a>
  <img src="/media/images/siren.png" width="510" height="620"/></div>
  <div><img src="/media/images/dr.png" width="510" height="620"/>
  <img src="/media/images/deti.png" width="510" height="620"/></div>
  <div><img src="/media/images/yra.png" width="1050" height="400"/></div>
  <div><img src="/media/images/eda.png" width="1050" height="400"/></div>
<p class="lead">Для того, чтобы оставить заявку на фотосъёмку необходимо зарегистрироваться. После этого войти и
создать тему и оставить сообщение с нужной Вам датой</p>

    <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
        role="button">Зарегистрироваться &raquo;</a>
  </div>
{% endblock page_header %}