{% extends "fotonovs/base.html" %}

{% block page_header %}
  <div class="jumbotron">
    <h1 class="display-3">Это сайт Фотостудии ....</h1>
  <div>
  <img src="/media/images/siren.png" width="510" height="620"/>
  </div>
<p class="lead">Для того, чтобы оставить заявку на фотосъёмку необходимо зарегистрироваться. После этого войти и
создать тему, чтобы оставить сообщение </p>
    <pre>
                       /=======\
                      ===========
                      |   |    | |
                      ===========


        </pre>

    <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
        role="button">Зарегистрироваться &raquo;</a>
  </div>
{% endblock page_header %}