<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Фотостудия...</title>
</head>
<body>
{% extends "fotonovs/base.html" %}

{% block content %}
  <p>Это сайт Фотостудии ....</p>
  <div><img src="/media/images/zvetok.png" width="190" height="220"/>
  <img src="/media/images/siren.png" width="190" height="220"/></div>
  <div><img src="/media/images/dr.png" width="190" height="220"/>
  <img src="/media/images/deti.png" width="190" height="220"/></div>
  <div><img src="/media/images/yra.png" width="559" height="189"/></div>
  <div><img src="/media/images/eda.png" width="559" height="189"/></div>
{% endblock content %}

</body>
</html>