{% extends 'fotonovs/base.html' %}

{% block page_header %}
  <h3>{{ shape }}</h3>
{% endblock page_header %}

{% block content %}
  <p>
    <a href="{% url 'fotonovs:new_entry' shape.id %}">Добавить новую запись</a>
  </p>

  <ul>
  {% for entry in entries %}
    <div class="card mb-3">
      <h4 class="card-header">
        {{ entry.date_added|date:'M d, Y H:i' }}
        <small><a href="{% url 'fotonovs:edit_entry' entry.id %}">
            Изменить  запись</a></small>
      </h4>
      <div class="card-body">
        {{ entry.text|linebreaks }}
      </div>
    </div>
  {% empty %}
    <p>ЭТА ДАТА И ВРЕМЯ ДОСТУПНЫ ДЛЯ ЗАПИСИ.</p>
  {% endfor %}

{% endblock content %}